<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
	<head>
		<!-- designed in mail chimp -->
		<meta charset="UTF-8">
	</head>
	<body>
    <p>Hi {{ qacall.agentName }}</p>
    <p>You have been vettted just now at {{ qacall.assessor }}</p>
    <p>Submitted at {{ qacall.submissionTime }} the client's mojo is {{ qacall.mojoLink }}</p>
    <p>You fucked up</p>
    </body>
</html>
