<header class="header">
	<div class="header-search">Search...</div>
	<div class="header-avatar"></div>
	{% if app.user %}
		<div class="header-logout">
			<a href="{{ path('app_logout') }}">
				<span class="icon">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="24" height="24" x="0" y="0" viewbox="0 0 489.9 489.9" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
						<g>
							<g xmlns="http://www.w3.org/2000/svg">
								<g>
									<g>
										<path d="M468.3,255.8c0.1-0.1,0.1-0.1,0.2-0.2c0.3-0.4,0.6-0.7,0.8-1.1c0.1-0.1,0.1-0.2,0.2-0.3c0.2-0.4,0.5-0.8,0.7-1.2     c0-0.1,0.1-0.2,0.1-0.2c0.2-0.4,0.4-0.8,0.6-1.3c0-0.1,0-0.1,0.1-0.2c0.2-0.4,0.3-0.9,0.5-1.4c0-0.1,0-0.2,0.1-0.2     c0.1-0.5,0.3-0.9,0.3-1.4c0-0.2,0-0.3,0.1-0.5c0.1-0.4,0.1-0.8,0.2-1.2c0.1-0.6,0.1-1.1,0.1-1.7c0-0.6,0-1.1-0.1-1.7     c0-0.4-0.1-0.8-0.2-1.2c0-0.2,0-0.3-0.1-0.5c-0.1-0.5-0.2-0.9-0.3-1.4c0-0.1,0-0.2-0.1-0.2c-0.1-0.5-0.3-0.9-0.5-1.4     c0-0.1,0-0.1-0.1-0.2c-0.2-0.4-0.4-0.9-0.6-1.3c0-0.1-0.1-0.2-0.1-0.2c-0.2-0.4-0.4-0.8-0.7-1.2c-0.1-0.1-0.1-0.2-0.2-0.3     c-0.3-0.4-0.5-0.8-0.8-1.1c-0.1-0.1-0.1-0.1-0.2-0.2c-0.4-0.4-0.7-0.9-1.2-1.3l-98.9-98.8c-6.7-6.7-17.6-6.7-24.3,0     c-6.7,6.7-6.7,17.6,0,24.3l69.6,69.6H136.8c-9.5,0-17.2,7.7-17.2,17.1c0,9.5,7.7,17.2,17.2,17.2h276.8l-69.1,69.1     c-6.7,6.7-6.7,17.6,0,24.3c3.3,3.3,7.7,5,12.1,5s8.8-1.7,12.1-5l98.3-98.3C467.5,256.6,467.9,256.2,468.3,255.8z" fill="#264653" data-original="#000000" style="" class=""/>
										<path d="M110.7,34.3h128c9.5,0,17.2-7.7,17.2-17.1c0-9.5-7.7-17.2-17.2-17.2h-128C59.4,0,17.6,41.8,17.6,93.1v303.7     c0,51.3,41.8,93.1,93.1,93.1h125.9c9.5,0,17.2-7.7,17.2-17.1c0-9.5-7.7-17.2-17.2-17.2H110.7c-32.4,0-58.8-26.4-58.8-58.8V93.1     C52,60.6,78.3,34.3,110.7,34.3z" fill="#264653" data-original="#000000" style="" class=""/>
									</g>
								</g>
							</g>
						</g>
					</svg>
				</span>
			</a>
		</div>
	{% endif %}
</header>
<aside class="sidenav">
	<ul class="sidenav-list">
		<a href="/home" title="home">
			<li class="sidenav-list-item">
					<span class="icon">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="30" height="30" x="0" y="0" viewBox="0 0 480.252 480.252" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
							<g>
								<g xmlns="http://www.w3.org/2000/svg">
									<g>
										<g> <path d="M456.126,464.252v-296c0-4.418-3.582-8-8-8h-80c-4.418,0-8,3.582-8,8v296h-16v-184c0-4.418-3.582-8-8-8h-80     c-4.418,0-8,3.582-8,8v184h-16v-264c0-4.418-3.582-8-8-8h-80c-4.418,0-8,3.582-8,8v264h-16v-152c0-4.418-3.582-8-8-8h-80     c-4.418,0-8,3.582-8,8v152h-24v16h480v-16H456.126z M104.126,464.252h-64v-144h64V464.252z M216.126,464.252h-64v-256h64V464.252     z M328.126,464.252h-64v-176h64V464.252z M440.126,464.252h-64v-288h64V464.252z"     fill="#264653" data-original="#000000" style="" class="" /> <path     d="M50.065,217.62c6.544,4.326,14.216,6.633,22.061,6.632c22.091-0.001,39.999-17.91,39.998-40.002     c0-7.842-2.306-15.512-6.63-22.054l56.624-56.632c6.49,4.343,14.119,6.67,21.928,6.688c2.355,0.001,4.705-0.205,7.024-0.616     c7.611-1.334,14.667-4.86,20.304-10.144l47.464,36.488c-7.922,20.622,2.373,43.762,22.995,51.684     c20.622,7.922,43.762-2.373,51.684-22.995c4.646-12.094,3.147-25.689-4.023-36.481l56.608-56.608     c18.477,12.23,43.37,7.165,55.599-11.312c12.23-18.477,7.165-43.37-11.312-55.599c-18.477-12.23-43.37-7.165-55.599,11.312     c-8.886,13.425-8.886,30.862,0,44.287l-56.608,56.608c-15.855-10.48-36.895-8.357-50.336,5.08     c-0.152,0.152-0.24,0.328-0.384,0.472l-46.776-35.952c8.985-20.182-0.092-43.826-20.274-52.811     c-20.182-8.985-43.826,0.092-52.811,20.274c-5.557,12.483-4.358,26.94,3.181,38.336l-56.6,56.608     c-18.429-12.183-43.244-7.119-55.427,11.31C26.573,180.622,31.636,205.437,50.065,217.62z M408.126,16.252     c13.255,0,24,10.745,24,24s-10.745,24-24,24s-24-10.745-24-24S394.871,16.252,408.126,16.252z M279.147,135.287     c4.502-4.505,10.61-7.036,16.979-7.035c13.255-0.002,24.001,10.742,24.003,23.997c0.001,6.369-2.53,12.477-7.035,16.979     c-9.5,9.055-24.436,9.055-33.936,0C269.782,159.858,269.778,144.662,279.147,135.287z M164.468,58.487     c0.001-0.001,0.001-0.002,0.002-0.003c3.638-5.226,9.214-8.781,15.488-9.872c1.393-0.239,2.803-0.359,4.216-0.36     c4.911,0.005,9.701,1.522,13.72,4.344c10.857,7.604,13.495,22.569,5.891,33.426s-22.569,13.494-33.426,5.891     C159.502,84.309,156.864,69.344,164.468,58.487z M55.147,167.287c0.004-0.004,0.007-0.007,0.011-0.011     c9.376-9.371,24.573-9.368,33.944,0.008c9.371,9.376,9.368,24.573-0.008,33.944c-9.5,9.055-24.436,9.055-33.936,0     C45.782,191.858,45.778,176.662,55.147,167.287z"     fill="#264653" data-original="#000000" style="" class="" />
										</g>
									</g>
								</g>
							</g>
						</svg>
					</span>
			</li>
		</a>
		<a href="/roster" title="roster">
			<li class="sidenav-list-item">
					<span class="icon">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="30" height="30" x="0" y="0" viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 512 512" xml:space="preserve">
							<g>
								<g xmlns="http://www.w3.org/2000/svg">
									<g>
										<path d="M245.333,85.333c-41.173,0-74.667,33.493-74.667,74.667s33.493,74.667,74.667,74.667S320,201.173,320,160    C320,118.827,286.507,85.333,245.333,85.333z M245.333,213.333C215.936,213.333,192,189.397,192,160    c0-29.397,23.936-53.333,53.333-53.333s53.333,23.936,53.333,53.333S274.731,213.333,245.333,213.333z" fill="#264653" data-original="#000000" style="" />
									</g>
								</g>
								<g xmlns="http://www.w3.org/2000/svg">
									<g>
										<path d="M394.667,170.667c-29.397,0-53.333,23.936-53.333,53.333s23.936,53.333,53.333,53.333S448,253.397,448,224    S424.064,170.667,394.667,170.667z M394.667,256c-17.643,0-32-14.357-32-32c0-17.643,14.357-32,32-32s32,14.357,32,32    C426.667,241.643,412.309,256,394.667,256z" fill="#264653" data-original="#000000" style="" />
									</g>
								</g>
								<g xmlns="http://www.w3.org/2000/svg">
									<g>
										<path d="M97.515,170.667c-29.419,0-53.333,23.936-53.333,53.333s23.936,53.333,53.333,53.333s53.333-23.936,53.333-53.333    S126.933,170.667,97.515,170.667z M97.515,256c-17.643,0-32-14.357-32-32c0-17.643,14.357-32,32-32c17.643,0,32,14.357,32,32    C129.515,241.643,115.157,256,97.515,256z" fill="#264653" data-original="#000000" style="" />
									</g>
								</g>
								<g xmlns="http://www.w3.org/2000/svg">
									<g>
										<path d="M245.333,256c-76.459,0-138.667,62.208-138.667,138.667c0,5.888,4.779,10.667,10.667,10.667S128,400.555,128,394.667    c0-64.704,52.629-117.333,117.333-117.333s117.333,52.629,117.333,117.333c0,5.888,4.779,10.667,10.667,10.667    c5.888,0,10.667-4.779,10.667-10.667C384,318.208,321.792,256,245.333,256z" fill="#264653" data-original="#000000" style="" />
									</g>
								</g>
								<g xmlns="http://www.w3.org/2000/svg">
									<g>
										<path d="M394.667,298.667c-17.557,0-34.752,4.8-49.728,13.867c-5.013,3.072-6.635,9.621-3.584,14.656    c3.093,5.035,9.621,6.635,14.656,3.584C367.637,323.712,380.992,320,394.667,320c41.173,0,74.667,33.493,74.667,74.667    c0,5.888,4.779,10.667,10.667,10.667c5.888,0,10.667-4.779,10.667-10.667C490.667,341.739,447.595,298.667,394.667,298.667z" fill="#264653" data-original="#000000" style="" />
									</g>
								</g>
								<g xmlns="http://www.w3.org/2000/svg">
									<g>
										<path d="M145.707,312.512c-14.955-9.045-32.149-13.845-49.707-13.845c-52.928,0-96,43.072-96,96    c0,5.888,4.779,10.667,10.667,10.667s10.667-4.779,10.667-10.667C21.333,353.493,54.827,320,96,320    c13.675,0,27.029,3.712,38.635,10.752c5.013,3.051,11.584,1.451,14.656-3.584C152.363,322.133,150.741,315.584,145.707,312.512z" fill="#264653" data-original="#000000" style="" />
									</g>
								</g>
							</g>
						</svg>
					</span>
			</li>
		</a>
		<a href="/forms">
			<li class="sidenav-list-item">
					<span class="icon">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="30" height="30" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
							<g>
								<g xmlns="http://www.w3.org/2000/svg">
									<g>
										<path d="m170.652 136.8c-3.335-2.457-8.033-1.743-10.488 1.594l-14.845 20.169-5.076-6.972c-2.438-3.348-7.13-4.088-10.48-1.649-3.349 2.439-4.088 7.132-1.649 10.481l8.757 12.026c1.95 2.677 5.091 4.28 8.402 4.289h.026c3.302 0 6.439-1.585 8.397-4.245l18.552-25.204c2.454-3.337 1.74-8.033-1.596-10.489z" fill="#264653" data-original="#000000" style="" class="" />
										<path d="m170.652 259.827c-3.335-2.457-8.033-1.743-10.488 1.594l-14.845 20.168-5.076-6.971c-2.439-3.349-7.129-4.089-10.481-1.65-3.349 2.439-4.088 7.131-1.649 10.48l8.757 12.028c1.949 2.676 5.09 4.28 8.401 4.288.009.001.018.001.026.001 3.302 0 6.44-1.586 8.398-4.246l18.552-25.203c2.455-3.337 1.741-8.034-1.595-10.489z" fill="#264653" data-original="#000000" style="" class="" />
										<path d="m170.652 377.611c-3.335-2.457-8.033-1.743-10.488 1.594l-14.845 20.168-5.076-6.971c-2.439-3.348-7.129-4.089-10.481-1.65-3.349 2.439-4.088 7.131-1.649 10.48l8.757 12.028c1.949 2.676 5.09 4.28 8.401 4.288.009.001.018.001.026.001 3.302 0 6.44-1.586 8.398-4.246l18.552-25.203c2.455-3.336 1.741-8.033-1.595-10.489z" fill="#264653" data-original="#000000" style="" class="" />
										<path d="m228.027 147.871h92.716c4.143 0 7.502-3.358 7.502-7.502s-3.359-7.502-7.502-7.502h-92.716c-4.143 0-7.502 3.358-7.502 7.502s3.359 7.502 7.502 7.502z" fill="#264653" data-original="#000000" style="" class="" />
										<path d="m228.027 179.212h46.358c4.143 0 7.502-3.358 7.502-7.502s-3.359-7.502-7.502-7.502h-46.358c-4.143 0-7.502 3.358-7.502 7.502s3.359 7.502 7.502 7.502z" fill="#264653" data-original="#000000" style="" class="" />
										<path d="m228.027 268.276h62.208c4.143 0 7.502-3.358 7.502-7.502s-3.359-7.502-7.502-7.502h-62.208c-4.143 0-7.502 3.358-7.502 7.502s3.359 7.502 7.502 7.502z" fill="#264653" data-original="#000000" style="" class="" />
										<path d="m274.385 299.618c4.143 0 7.502-3.358 7.502-7.502s-3.359-7.502-7.502-7.502h-46.358c-4.143 0-7.502 3.358-7.502 7.502s3.359 7.502 7.502 7.502z" fill="#264653" data-original="#000000" style="" class="" />
										<path d="m179.087 108.047h-57.794c-10.529 0-19.096 8.567-19.096 19.096v57.794c0 10.529 8.567 19.096 19.096 19.096h57.794c10.529 0 19.096-8.567 19.096-19.096v-57.794c0-10.529-8.566-19.096-19.096-19.096zm4.093 76.89c0 2.256-1.836 4.092-4.092 4.092h-57.794c-2.256 0-4.092-1.835-4.092-4.092v-57.794c0-2.256 1.836-4.092 4.092-4.092h57.794c2.256 0 4.092 1.835 4.092 4.092z" fill="#264653" data-original="#000000" style="" class="" />
										<path d="m179.087 228.453h-57.794c-10.529 0-19.096 8.567-19.096 19.096v57.794c0 10.529 8.567 19.096 19.096 19.096h57.794c10.529 0 19.096-8.567 19.096-19.096v-57.794c0-10.53-8.566-19.096-19.096-19.096zm4.093 76.89c0 2.256-1.836 4.092-4.092 4.092h-57.794c-2.256 0-4.092-1.835-4.092-4.092v-57.794c0-2.256 1.836-4.092 4.092-4.092h57.794c2.256 0 4.092 1.835 4.092 4.092z" fill="#264653" data-original="#000000" style="" class="" />
										<path d="m179.087 348.857h-57.794c-10.529 0-19.096 8.567-19.096 19.096v57.794c0 10.529 8.567 19.096 19.096 19.096h57.794c10.529 0 19.096-8.567 19.096-19.096v-57.794c0-10.529-8.566-19.096-19.096-19.096zm4.093 76.89c0 2.256-1.836 4.092-4.092 4.092h-57.794c-2.256 0-4.092-1.835-4.092-4.092v-57.794c0-2.256 1.836-4.092 4.092-4.092h57.794c2.256 0 4.092 1.835 4.092 4.092z" fill="#264653" data-original="#000000" style="" class="" />
										<path d="m465.253 128.318-11.906-7.54c-6.182-3.916-13.52-5.187-20.658-3.584-7.139 1.605-13.226 5.894-17.139 12.077l-10.918 17.252-15.16 23.955-17.144 27.091v-112.608c0-7.755-6.309-14.064-14.064-14.064h-53.756v-15.003h71.966c5.987 0 10.858 4.87 10.858 10.857v64.968c0 4.144 3.359 7.502 7.502 7.502s7.502-3.358 7.502-7.502v-64.968c0-14.259-11.601-25.861-25.861-25.861h-73.518c-3.072-7.417-10.381-12.651-18.895-12.651h-19.38v-7.555c0-11.404-9.279-20.684-20.685-20.684h-51.638c-11.406 0-20.685 9.28-20.685 20.685v7.555h-19.38c-8.514 0-15.823 5.234-18.894 12.651h-73.519c-14.26 0-25.861 11.601-25.861 25.861v419.388c0 14.259 11.601 25.861 25.861 25.861h316.595c14.26 0 25.861-11.602 25.861-25.861v-168.208c0-4.144-3.359-7.502-7.502-7.502s-7.502 3.358-7.502 7.502v168.207c0 5.987-4.871 10.857-10.858 10.857h-316.594c-5.987 0-10.858-4.87-10.858-10.857v-419.388c0-5.987 4.871-10.857 10.858-10.857h71.966v15.004h-53.756c-7.755 0-14.064 6.309-14.064 14.064v382.967c0 7.755 6.309 14.064 14.064 14.064h280.174c7.755 0 14.064-6.309 14.064-14.064v-141.572l75.331-119.037c.001-.002.003-.005.004-.007l15.155-23.947 10.925-17.263c8.073-12.759 4.264-29.709-8.491-37.785zm-29.274 3.515c3.229-.728 6.546-.151 9.341 1.62l11.906 7.541c5.768 3.652 7.49 11.316 3.839 17.085l-6.912 10.922-32.832-20.791 6.908-10.915c1.769-2.797 4.521-4.737 7.75-5.462zm-142.082 290.406c-1.42 2.242-3.01 4.356-4.751 6.335-2.355-3.158-5.031-6.017-7.974-8.537l139.787-220.744 10.013 6.341zm-51.227 44.741c-.052-.018-.117-.053-.142-.053-.005 0-.008.001-.01.005 16.25-67.488 8.339-34.633 10.598-44.015 9.746 1.629 18.807 7.108 24.769 15.685-39.722 32.008-34.651 27.865-35.215 28.378zm170.628-306.092 32.832 20.791-7.136 11.276-32.832-20.791zm-266.448-112.034c.005-.092.011-.184.013-.277.001-.032-.003-.063-.002-.095.108-2.906 2.5-5.24 5.433-5.24h21.491c7.109 0 12.893-5.784 12.893-12.893v-9.665c0-3.133 2.549-5.681 5.682-5.681h51.638c3.133 0 5.682 2.548 5.682 5.681v9.665c0 7.109 5.784 12.893 12.893 12.893h21.491c2.933 0 5.325 2.333 5.433 5.24 0 .032-.003.063-.002.095.002.091.008.183.013.275v22.045h-142.658zm-67.82 37.047h278.295v135.377l-78.516 124.072c-2.216 3.501-1.174 8.136 2.327 10.351 3.486 2.205 8.126 1.189 10.351-2.328l106.651-168.531 10.144 6.423-139.787 220.745c-3.536-1.583-7.264-2.78-11.126-3.558 1.046-2.42 2.276-4.762 3.696-7.006l11.662-18.427c2.216-3.501 1.174-8.135-2.327-10.351-3.502-2.215-8.136-1.173-10.351 2.328l-11.661 18.426c-3.853 6.085-6.661 12.718-8.348 19.716 0 .002-.001.003-.001.005l-12.088 50.151c-.299 1.239-.438 2.478-.435 3.696h-148.486zm278.295 381.088h-90.753l25.747-20.747c5.604-4.516 10.4-9.891 14.254-15.978l50.752-80.198z" fill="#264653" data-original="#000000" style="" class="" />
									</g>
								</g>
							</g>
						</svg>					
					</span>
			</li>
		</a>
		<a href="/responses">
			<li class="sidenav-list-item">
					<span class="icon">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="30" height="30" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
							<g>
								<g xmlns="http://www.w3.org/2000/svg">
									<g>
										<path d="M315,91H195c-8.284,0-15,6.716-15,15s6.716,15,15,15h120c8.284,0,15-6.716,15-15S323.284,91,315,91z" fill="#264653" data-original="#000000" style="" class="" />
									</g>
								</g>
								<g xmlns="http://www.w3.org/2000/svg">
									<g>
										<path d="M315,151H195c-8.284,0-15,6.716-15,15s6.716,15,15,15h120c8.284,0,15-6.716,15-15S323.284,151,315,151z" fill="#264653" data-original="#000000" style="" class="" />
									</g>
								</g>
								<g xmlns="http://www.w3.org/2000/svg">
									<g>
										<path d="M315,211H75c-8.284,0-15,6.716-15,15s6.716,15,15,15h240c8.284,0,15-6.716,15-15S323.284,211,315,211z" fill="#264653" data-original="#000000" style="" class="" />
									</g>
								</g>
								<g xmlns="http://www.w3.org/2000/svg">
									<g>
										<path d="M260.622,271H75c-8.284,0-15,6.716-15,15s6.716,15,15,15h185.622c8.284,0,15-6.716,15-15S268.906,271,260.622,271z" fill="#264653" data-original="#000000" style="" class="" />
									</g>
								</g>
								<g xmlns="http://www.w3.org/2000/svg">
									<g>
										<path d="M391,271V45c0-24.872-21.096-45-46-45H134.998c-3.803,0-7.715,1.504-10.648,4.438l-120,121C1.593,128.217,0,132.082,0,136    v331c0,24.813,20.187,45,45,45c31.646,0,42.154,0,42.109,0c46.003,0,136.525,0,303.891,0c66.233,0,121-54.534,121-121    C512,324.832,457.72,271,391,271z M120,51.427V121H51.002L120,51.427z M45,482c-8.271,0-15-6.729-15-15V151h105    c8.284,0,15-6.716,15-15V30h195c8.523,0,16,7.009,16,15v229.735c-31.838,8.084-58.657,28.725-74.757,56.265H75    c-8.284,0-15,6.716-15,15s6.716,15,15,15h198.828c-2.498,9.592-3.828,19.645-3.828,30H75c-8.284,0-15,6.716-15,15s6.716,15,15,15    h198.805c6.063,23.457,19.172,44.599,37.882,61H45z M391,482c-49.327,0-91-41.673-91-91c0-49.626,40.822-90,91-90    c50.178,0,91,40.374,91,90C482,440.327,440.327,482,391,482z" fill="#264653" data-original="#000000" style="" class="" />
									</g>
								</g>
								<g xmlns="http://www.w3.org/2000/svg">
									<g>
										<path d="M447.694,365.482c-5.808-5.906-15.306-5.985-21.213-0.176l-50.566,49.738l-20.484-19.823    c-5.953-5.761-15.449-5.605-21.21,0.348s-5.605,15.449,0.348,21.21l31,30c5.847,5.659,15.144,5.625,20.95-0.085l61-60    C453.425,380.885,453.503,371.388,447.694,365.482z" fill="#264653" data-original="#000000" style="" class="" />
									</g>
								</g>
							</g>
						</svg>
					</span>
			</li>
		</a>
		<a href="/agents">
			<li class="sidenav-list-item">
					<span class="icon">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="30" height="30" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
							<g>
								<g xmlns="http://www.w3.org/2000/svg">
									<g>
										<path d="M366,396c-5.52,0-10,4.48-10,10c0,5.52,4.48,10,10,10c5.52,0,10-4.48,10-10C376,400.48,371.52,396,366,396z" fill="#264653" data-original="#000000" style="" class="" />
									</g>
								</g>
								<g xmlns="http://www.w3.org/2000/svg">
									<g>
										<path d="M390.622,363.663l-47.53-15.84l-17.063-34.127c15.372-15.646,26.045-36.348,29.644-57.941L357.801,243H376    c16.542,0,30-13.458,30-30v-63C406,67.29,338.71,0,256,0c-82.922,0-150,67.097-150,150v63c0,13.036,8.361,24.152,20,28.28V253    c0,16.542,13.458,30,30,30h8.782c4.335,9.417,9.946,18.139,16.774,25.974c1.416,1.628,2.893,3.206,4.406,4.741l-17.054,34.108    l-47.531,15.841C66.112,382.092,26,440.271,26,502c0,5.523,4.477,10,10,10h440c5.522,0,10-4.477,10-10    C486,440.271,445.889,382.092,390.622,363.663z M386,213c0,5.514-4.486,10-10,10h-15.262c2.542-19.69,4.236-40.643,4.917-61.28    c0.02-0.582,0.036-1.148,0.054-1.72H386V213z M136,223c-5.514,0-10-4.486-10-10v-53h20.298c0.033,1.043,0.068,2.091,0.107,3.146    c0.001,0.036,0.003,0.071,0.004,0.107c0,0.003,0,0.006,0,0.009c0.7,20.072,2.372,40.481,4.856,59.737H136V223z M156,263    c-5.514,0-10-4.486-10-10v-10h8.198l2.128,12.759c0.406,2.425,0.905,4.841,1.482,7.241H156z M146.017,140H126.38    C131.445,72.979,187.377,20,256,20c68.318,0,124.496,52.972,129.619,120h-19.635c-0.72-55.227-45.693-100-101.033-100h-17.9    C191.712,40,146.736,84.773,146.017,140z M247.05,60h17.9c44.809,0,81.076,36.651,81.05,81.41c0,3.147-0.025,5.887-0.078,8.38    c0,0.032-0.001,0.065-0.001,0.098l-12.508-1.787c-33.98-4.852-66.064-20.894-90.342-45.172C241.195,101.054,238.652,100,236,100    c-26.856,0-52.564,12.236-69.558,32.908C170.63,92.189,205.053,60,247.05,60z M178.54,263c-5.006-16.653-10.734-65.653-12-97.053    l13.459-17.946c12.361-16.476,31.592-26.713,52.049-27.888c26.917,25.616,61.739,42.532,98.537,47.786l14.722,2.104    c-0.984,20.885-2.995,41.843-5.876,61.118c-0.001,0.006-0.002,0.013-0.003,0.02c-0.916,6.197-1.638,10.185-3.482,21.324    c-5.296,31.765-28.998,60.49-60.287,68.313c-12.877,3.215-26.443,3.214-39.313,0c-19.537-4.884-37.451-18.402-49.012-37.778    h20.386c4.128,11.639,15.243,20,28.28,20h20c16.575,0,30-13.424,30-30c0-16.542-13.458-30-30-30h-20    c-13.327,0-24.278,8.608-28.297,20H178.54z M235.159,341.016c6.859,1.445,13.852,2.184,20.841,2.184    c5.471,0,10.943-0.458,16.353-1.346l-17.67,18.687L235.159,341.016z M240.935,375.079l-31.718,33.542    c-8.732-16.714-16.235-34.109-22.389-51.917l11.911-23.822L240.935,375.079z M311.566,329.494l13.604,27.209    c-6.164,17.838-13.669,35.239-22.392,51.933l-33.948-33.948L311.566,329.494z M226,273c0-5.521,4.478-10,10-10h20    c5.514,0,10,4.486,10,10c0,5.522-4.479,10-10,10h-20C230.486,283,226,278.514,226,273z M46.4,492    c3.963-49.539,36.932-94.567,81.302-109.363l42.094-14.028c7.712,21.325,17.266,42.052,28.463,61.74    c0.019,0.034,0.037,0.068,0.056,0.101c0,0.001,0.001,0.001,0.001,0.002c8.181,14.389,17.389,28.45,27.372,41.799L237.99,492H46.4z     M256,483.086l-13.562-21.773c-0.152-0.244-0.314-0.481-0.486-0.711c-8.098-10.802-15.652-22.099-22.532-33.662l35.663-37.714    l37.578,37.578c-6.926,11.647-14.506,22.991-22.611,33.796C269.56,461.253,270.255,460.224,256,483.086z M274.01,492    l12.301-19.748c10.027-13.4,19.301-27.574,27.564-42.132c0.05-0.088,0.097-0.178,0.147-0.266c0.006-0.011,0.012-0.021,0.018-0.032    c11.055-19.5,20.509-40.047,28.164-61.213l42.093,14.028c44.371,14.796,77.34,59.824,81.303,109.363H274.01z" fill="#264653" data-original="#000000" style="" class="" />
									</g>
								</g>
								<g xmlns="http://www.w3.org/2000/svg">
									<g>
										<path d="M435.546,451.531c-6.683-13.377-16.472-25.261-28.309-34.367c-4.378-3.369-10.656-2.55-14.023,1.828    c-3.368,4.378-2.549,10.656,1.828,14.024c9.454,7.273,17.272,16.766,22.611,27.453c2.473,4.949,8.483,6.941,13.415,4.477    C436.008,462.478,438.013,456.472,435.546,451.531z" fill="#264653" data-original="#000000" style="" class="" />
									</g>
								</g>
							</g>
						</svg>					
					</span>
			</li>
		</a>
		<a href="/comms">
			<li class="sidenav-list-item">
					<span class="icon">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="30" height="30" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
							<g>
								<g xmlns="http://www.w3.org/2000/svg">
									<g>
										<path
											d="M485.743,85.333H26.257C11.815,85.333,0,97.148,0,111.589V400.41c0,14.44,11.815,26.257,26.257,26.257h459.487    c14.44,0,26.257-11.815,26.257-26.257V111.589C512,97.148,500.185,85.333,485.743,85.333z M475.89,105.024L271.104,258.626    c-3.682,2.802-9.334,4.555-15.105,4.529c-5.77,0.026-11.421-1.727-15.104-4.529L36.109,105.024H475.89z M366.5,268.761    l111.59,137.847c0.112,0.138,0.249,0.243,0.368,0.368H33.542c0.118-0.131,0.256-0.23,0.368-0.368L145.5,268.761    c3.419-4.227,2.771-10.424-1.464-13.851c-4.227-3.419-10.424-2.771-13.844,1.457l-110.5,136.501V117.332l209.394,157.046    c7.871,5.862,17.447,8.442,26.912,8.468c9.452-0.02,19.036-2.6,26.912-8.468l209.394-157.046v275.534L381.807,256.367    c-3.42-4.227-9.623-4.877-13.844-1.457C363.729,258.329,363.079,264.534,366.5,268.761z"
											fill="#264653" data-original="#000000" style="" class="" />
									</g>
								</g>
							</g>
						</svg>					
					</span>
			</li>
		</a>
		<a href="/admin">
			<li class="sidenav-list-item">
				<span class="icon">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="30" height="30" x="0" y="0" viewBox="0 0 474.565 474.565" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
						<g>
							<g xmlns="http://www.w3.org/2000/svg">
								<path
									d="M255.204,102.3c-0.606-11.321-12.176-9.395-23.465-9.395C240.078,95.126,247.967,98.216,255.204,102.3z"
									fill="#264653" data-original="#000000" style="" class="" />
								<path
									d="M134.524,73.928c-43.825,0-63.997,55.471-28.963,83.37c11.943-31.89,35.718-54.788,66.886-63.826   C163.921,81.685,150.146,73.928,134.524,73.928z"
									fill="#264653" data-original="#000000" style="" class="" />
								<path
									d="M43.987,148.617c1.786,5.731,4.1,11.229,6.849,16.438L36.44,179.459c-3.866,3.866-3.866,10.141,0,14.015l25.375,25.383   c1.848,1.848,4.38,2.888,7.019,2.888c2.61,0,5.125-1.04,7.005-2.888l14.38-14.404c2.158,1.142,4.55,1.842,6.785,2.827   c0-0.164-0.016-0.334-0.016-0.498c0-11.771,1.352-22.875,3.759-33.302c-17.362-11.174-28.947-30.57-28.947-52.715   c0-34.592,28.139-62.739,62.723-62.739c23.418,0,43.637,13.037,54.43,32.084c11.523-1.429,22.347-1.429,35.376,1.033   c-1.676-5.07-3.648-10.032-6.118-14.683l14.396-14.411c1.878-1.856,2.918-4.38,2.918-7.004c0-2.625-1.04-5.148-2.918-7.004   l-25.361-25.367c-1.94-1.941-4.472-2.904-7.003-2.904c-2.532,0-5.063,0.963-6.989,2.904l-14.442,14.411   c-5.217-2.764-10.699-5.078-16.444-6.825V9.9c0-5.466-4.411-9.9-9.893-9.9h-35.888c-5.451,0-9.909,4.434-9.909,9.9v20.359   c-5.73,1.747-11.213,4.061-16.446,6.825L75.839,22.689c-1.942-1.941-4.473-2.904-7.005-2.904c-2.531,0-5.077,0.963-7.003,2.896   L36.44,48.048c-1.848,1.864-2.888,4.379-2.888,7.012c0,2.632,1.04,5.148,2.888,7.004l14.396,14.403   c-2.75,5.218-5.063,10.708-6.817,16.438H23.675c-5.482,0-9.909,4.441-9.909,9.915v35.889c0,5.458,4.427,9.908,9.909,9.908H43.987z"
									fill="#264653" data-original="#000000" style="" class="" />
								<path
									d="M354.871,340.654c15.872-8.705,26.773-25.367,26.773-44.703c0-28.217-22.967-51.168-51.184-51.168   c-9.923,0-19.118,2.966-26.975,7.873c-4.705,18.728-12.113,36.642-21.803,52.202C309.152,310.022,334.357,322.531,354.871,340.654z   "
									fill="#264653" data-original="#000000" style="" class="" />
								<path
									d="M460.782,276.588c0-5.909-4.799-10.693-10.685-10.693H428.14c-1.896-6.189-4.411-12.121-7.393-17.75l15.544-15.544   c2.02-2.004,3.137-4.721,3.137-7.555c0-2.835-1.118-5.553-3.137-7.563l-27.363-27.371c-2.08-2.09-4.829-3.138-7.561-3.138   c-2.734,0-5.467,1.048-7.547,3.138l-15.576,15.552c-5.623-2.982-11.539-5.481-17.751-7.369v-21.958   c0-5.901-4.768-10.685-10.669-10.685H311.11c-2.594,0-4.877,1.04-6.739,2.578c3.26,11.895,5.046,24.793,5.046,38.552   c0,8.735-0.682,17.604-1.956,26.423c7.205-2.656,14.876-4.324,22.999-4.324c36.99,0,67.086,30.089,67.086,67.07   c0,23.637-12.345,44.353-30.872,56.303c13.48,14.784,24.195,32.324,31.168,51.976c1.148,0.396,2.344,0.684,3.54,0.684   c2.733,0,5.467-1.04,7.563-3.13l27.379-27.371c2.004-2.004,3.106-4.721,3.106-7.555s-1.102-5.551-3.106-7.563l-15.576-15.552   c2.982-5.621,5.497-11.555,7.393-17.75h21.957c2.826,0,5.575-1.118,7.563-3.138c2.004-1.996,3.138-4.72,3.138-7.555   L460.782,276.588z"
									fill="#264653" data-original="#000000" style="" class="" />
								<path
									d="M376.038,413.906c-16.602-48.848-60.471-82.445-111.113-87.018c-16.958,17.958-37.954,29.351-61.731,29.351   c-23.759,0-44.771-11.392-61.713-29.351c-50.672,4.573-94.543,38.17-111.145,87.026l-9.177,27.013   c-2.625,7.773-1.368,16.338,3.416,23.007c4.783,6.671,12.486,10.631,20.685,10.631h315.853c8.215,0,15.918-3.96,20.702-10.631   c4.767-6.669,6.041-15.234,3.4-23.007L376.038,413.906z"
									fill="#264653" data-original="#000000" style="" class="" />
								<path
									d="M120.842,206.782c0,60.589,36.883,125.603,82.352,125.603c45.487,0,82.368-65.014,82.368-125.603   C285.563,81.188,120.842,80.939,120.842,206.782z"
									fill="#264653" data-original="#000000" style="" class="" />
							</g>
						</g>
					</svg>
				</span>
			</li>
		</a>
	</ul>
</aside>